body {
    background-color :#D3D3D3;
    color:blue;      
    font-size: 19px;
    line-height: 20px;
    
    
}
a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{ 
    color: #002FA7; 
}
footer { 
    text-align:center; 
}
.navbar {
    background-color:#CECECE;
    border-radius: 20px ;

    border: 5px solid lightsteelblue;
    font-family: impact;
    text-shadow:  2px 1px #777;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 32%) inset, 
                0 -2px 0 hsl(210, 100%, 38%) inset, 
                0 -3px 0 hsl(210, 100%, 44%) inset, 
                0 -4px 0 hsl(210, 100%, 50%) inset, 
                0 -5px 0 hsl(210, 100%, 60%) inset;
    
}

/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
a:hover,
a:focus {
    color: yellow;

    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 

}
/* Couleur du fond et du lien de l'item du menu activé */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #801780;
    background-color: #f7de92;

    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
     transition: padding .3s;

}
section { 
    padding-right: 0 !important; 
}
.panel {
/*    background-color: lightyellow;
    border: 5px solid lightsteelblue;
   font-family: Charcoal;
   display: inline-block;
   
 
 margin-left: 420px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;*/
 
}
h1,h2,h3,h4 {
    text-shadow: 4px 4px 5px #777;
    color: #E10000;
}
.nav > li > a:hover,
.nav > li > a:focus,
.img-thumbnail {
    background-color: #f7de92;
    padding: 8px 25px 17px 25px;
}
.panel-default > .panel-heading,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color:#801780 ;
    background-color: #f7de92;
    border-radius: 8px;
}
.modal-content{
    background-color : #fbe7ad;
}


/*  Edition de la div du bloc*/
.bloc{
    
        border-radius: 100px ;
       /* background-color : lightyellow;*/
  
}
.bloc:hover{
      transform: translate(1px, 10px) ;
 transition-duration: 3s;

cursor: pointer;
    background: lightgoldenrodyellow;   

}    

